@font-face {
  font-family: 'Audiowide';
  src: url('fonts/Audiowide-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
}

h1 {
  font-family: 'Audiowide', sans-serif;
}